<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <h1>Tech Blog</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{!-- Dynamically display menu options based on whether or not user is logged in --}}
          {{#if logged_in}}
          <li><a href="/">Log out</a></li>
          {{else}}
          <li><a href="./login">Log In</a></li>
          <li><a href="./signup">Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  <script src="/js/script.js"></script>
</body>

</html>
