<!-- Loop over each object in the projects array -->
{{#each blogEntries as |blogEntry| }}
<div class="blog-entry-container">
    <h2 class="blog-entry-title">{{blogEntry.title}}</h2>

    <p>Created by {{blogEntry.user.username}} on {{format_date blogEntry.date_created}}</p>


    <p>{{blogEntry.body}}</p>
    
</div>
{{/each}}