:root {
  --typeface: 'Playfair Display', serif;
  --black: #333;
  --white: #fefefe;
  --content-width: 640px;
}

html {
  box-sizing: border-box;
  font-family: var(--typeface);
  color: var(--black);
  background-color: var(--white);
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--white);
  height: 64px;
  border-bottom: solid 2px var(--black);
  position: relative;
}

h1 {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  margin: 0;
}

nav {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

nav ul li {
  display: inline;
}

a {
  color: var(--black);
}

main {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

input:focus, textarea:focus {
  outline: var(--black);
}

.pure-form {
  background: var(--white);
  width: 95%;
  max-width: 600px;
  margin: auto;
  border: 2px solid var(--black);
  padding: 1rem;
  border-radius: 5px;
}

.pure-form .form-title {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 2rem !important;
}

.pure-form input {
  width: 60%;
}

.pure-form button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.pure-form button:hover {
  background-color: #111;
}

.pure-form input {
  margin-bottom: 1rem !important;
  padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/***** Blog Entry Styles *****/

div.blog-entry-container {
  margin-bottom: 3rem;
}

h2.blog-entry-title {
  margin-bottom: 1rem;
}

p#entry-author {
  margin-bottom: 1.2rem;
}

span#entry-date {
  font-weight: 700;
}

p {
  line-height: 1.5;
  max-width: 700px;
}

a.read-more-link {
  display: block;
  margin-top: 1.6rem;
}

/***** Signle Entry Page Styles *****/

section#comments-container {
  border-top: 1px solid var(--black);
  margin-top: 4rem;
  padding-top: 2rem;
}

div.comment-container {
  border: 1px solid var(--black);
  padding: 2rem;
  max-width: var(--content-width);
  margin: 1rem 0;
}

p.comment-body {
  padding-bottom: .5rem;
  margin-bottom: 2rem;
}

span.on-preposition {
  font-weight: 700;
}

div#login-linkto-component {
  max-width: var(--content-width);
  margin: 2rem 0;
  border-top: 1px solid var(--black);
  padding-top: 1rem;
}

a.inline-link {
  font-weight: 700;
}

div.comment-entry-container {
  border-top: 1px solid;
    padding: 1rem 0;
    margin: 2rem 0;
    max-width: var(--content-width);
}

.comment-entry-container textarea {
  width: 100%;
  resize: none; 
  margin: 1rem 0;
  padding: 1rem;
}

button.comment-submit-button {
  float: right;
  padding: .5rem 1rem;
  clear: both;
  cursor: pointer;
  width: 128px;
}

/***** Create New Entry Page Styles *****/

div.new-entry-container {
  width: 720px;
}

form.new-entry-form {
  margin-top: 2rem;
}

.new-entry-form #title-input {
  width: 100%;
  font-size: 2em;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--black);
}

.new-entry-form textarea {
  width: 100%;
  min-height: 160px;
  resize: none; 
  margin: 1rem 0;
  padding: 1rem;
  border: none;
}

button.new-entry-submit-button {
  float: right;
  padding: .5rem 1rem;
  clear: both;
  cursor: pointer;
  width: 160px;
}

/***** Dashboard Styles *****/

#my-entries-title {
  margin-bottom: 2rem;
}

a#dashboard-create-entry-btn {
  padding: 1rem 1rem;
  font-size: 1.2em;
  display: inline-block;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  position: fixed;
  border-radius: 2px;
  bottom: 1rem;
  right: 1rem;
  transition: background-color .3s;
}

#dashboard-create-entry-btn:hover {
  background-color: #222;
}

div.dashboard-ui-btns {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.dashboard-ui-btns .delete-entry-btn {
  padding: .5rem 1rem;
  cursor: pointer;
  width: 128px;
  transition: background-color .3s;
}

.delete-entry-btn:hover {
  background-color: red;
  color: var(--white);
  border: none;
}








